<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To do list</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="box" id="heading">
        <h1><%= kindOfDay %></h1>
    </div>

    <div class="box">
        <% newListIteam.forEach(myFunc);
        function myFunc(item){ %>
          <div class="item">
            <input type="checkbox">
            <p><%= item %></p>
          </div>
      <%  } %>

      <form class="item" action="/" method="post">
        <input placeholder="New Item" type="text" name="task" autocomplete="off">
        <button name="button" type="submit">+</button>
      </form>
    </div>




  </body>
</html>
